<h1>Карточки активностей</h1>
<table>
  <% @contexts.each do |context| %>
    <tr>
      <td><%= link_to context.title, context %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Перемешать", shuffle_contexts_path %>
